---
import Layout from "@components/Layout.astro";

import { getPosts } from "@utils/posts";
import { getProjects } from "@utils/projects";
import type { Project } from "@utils/projects";
import { ENABLE_BLOG } from "@utils/env";
import { truncate } from "@utils/str";
import { Icon } from 'astro-icon/components'

const projects = await getProjects();
const posts = await getPosts();

// const pinnedProjects = projects.filter((project: Project) => {
//     return project.stargazers_count > 0;
// }).sort((a: Project, b: Project) => {
//     return b.stargazers_count - a.stargazers_count;
// }).slice(0, 4);

const pinnedProjects = projects.filter((project: Project) => {
    return [
        'birthdays',
        'bookshop',
        'gym',
        'composer-upgrade-helper',
        'euclidius',
        'filterable',
    ].includes(project.name);
})
.sort((a: Project, b: Project) => {
    return b.stargazers_count - a.stargazers_count;
});
---

<Layout title="Jerome" description="Jerome's personal website">
	<h1 class="mb-3 text-3xl font-semibold text-white">Hi, I'm Jerome</h1>
	<p>
        A software engineer with a knack for building PHP and TypeScript libraries and a passion for web dev. When not coding, I'm strumming my guitar, sketching portraits, or lost in the world of gaming. Introverted by nature, I find solace in creativity and the tranquility of my own space.
	</p>
	<p class="text-white mt-4">Feel free to message me on Twitter!</p>
	<section class="mt-8">
        <div class="mb-4 flex items-center justify-between">
            <h2 class="text-white text-2xl font-semibold">Projects</h2>
            <a href="https://github.com/Thavarshan?tab=repositories" class="text-white hover:text-zinc-100 inline-flex space-x-1 items-center text-sm hover:underline font-medium">
                <span>View more projects</span> <Icon name="mdi:arrow-right" />
            </a>
        </div>
		<div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
			{
				pinnedProjects.map((project: Project) => {
					return (
						<article class="group rounded-md border border-zinc-800 bg-zinc-800/45 backdrop-blur-md px-4 py-3 hover:shadow-sm">
							<a href={new URL(project.html_url, "https://github.com")} class="flex flex-col justify-between min-h-36">
								<div class="flex flex-col flex-1">
                                    <h3 class="w-fit text-white group-hover:text-zinc-100 group-hover:underline font-medium">{project.name}</h3>
								    <p class="mt-2 text-sm">{truncate(project.description, 120)}</p>
                                </div>
                                <div class="mt-1 flex items-center space-x-2">
                                    <div class="inline-flex items-center space-x-1 px-2 py-1 text-zinc-950 text-xs font-semibold bg-white rounded-md">{project.language}</div>
                                    <div class="inline-flex items-center space-x-1 px-2 py-1 text-zinc-950 text-xs font-semibold bg-white rounded-md">
                                        <Icon name="mdi:star" class="text-sm text-yellow-500" />
                                        <span>{project.stargazers_count}</span>
                                    </div>
                                </div>
							</a>
						</article>
					);
				})
			}
		</div>
	</section>
	{ENABLE_BLOG !== 'false' ? <section class="mt-12">
		<h2 class="mb-4 text-2xl font-semibold">Blog</h2>
		{
			posts.map((post) => {
				return (
					<article class="mb-4">
						<h3 class="w-fit">
							<a href={post.href} class="text-white hover:text-zinc-100 hover:underline">
								{post.metaData.title}
							</a>
						</h3>
						<p class="text-sm">{post.metaData.description}</p>
					</article>
				);
			})
		}
	</section> : null}
</Layout>
