---
interface Props {
	title: string;
	description: string;
	ogId?: string;
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={Astro.props.description} />
		<title>{Astro.props.title}</title>
		<link rel="preconnect" href="/" crossorigin />
		<link rel="preload" href="/profile.jpeg" as="image" />
		<link rel="icon" href="/profile.jpeg" />
		<link rel="alternate" type="application/rss+xml" title="Jerome" href={`${Astro.site}rss.xml`} />

		<!-- OpenGraph tags -->
		<meta name="og:title" content={Astro.props.title} />
		<meta property="og:title" content={Astro.props.title} />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en" />
		<meta property="og:description" content={Astro.props.description} />
		<meta property="og:site_name" content="Jerome" />
		<meta property="og:url" content="https://thavarshan.com" />
		<meta property="og:image" content="https://thavarshan.com/profile.jpeg" />

		<!-- Twitter tags -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@thavarshan" />
		<meta name="twitter:title" content={Astro.props.title} />
		<meta name="twitter:description" content={Astro.props.description} />

		<!-- Discord -->
		<meta name="theme-color" content="#92400e" />
	</head>
	<body class="antialiased mx-auto max-w-3xl px-4 text-amber-950 bg-animated gif-background">
		<header class="flex place-content-between place-items-center pb-2 pt-6">
			<a class="block" href="/">
				<img src="/profile.jpeg"
					alt="profile picture"
					class="h-8 w-8 rounded-full bg-animated transition-transform duration-200 ease-in-out hover:scale-110 sm:h-10 sm:w-10"/>
            </a>
			<div class="flex gap-x-4 text-amber-950">
				<a href="https://github.com/Thavarshan" class="hover:text-main hover:underline">Github</a>
				<a href="https://twitter.com/tjthavarshan" class="hover:text-main hover:underline">Twitter</a>
				<a href="https://github.com/sponsors/Thavarshan" class="hover:text-main hover:underline">Donate</a>
			</div>
		</header>
		<main class="pb-32 pt-8 leading-relaxed sm:pt-12">
			<slot />
		</main>
	</body>
	<style>
		html {
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
				sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		}
		code {
			font-family:
				ui-monospace,
				SFMono-Regular,
				SF Mono,
				Menlo,
				Consolas,
				Liberation Mono,
				monospace;
		}
        .gif-background {
            background-image: url('/animation.gif');
            background-position: center bottom;
            background-repeat: repeat-x;
            background-attachment: fixed;
        }
	</style>
</html>
